@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Josefin Sans", sans-serif;
  min-height: 150vh;
  overflow-x: hidden;
  font-weight: 400;
  color: #1c1c1c;
}

/* dot container */

.dots-container {
  position: fixed;
  z-index: 100;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-bottom: 10px;
  cursor: pointer;
}
.dot-light {
  background-color: rgb(255, 255, 255);
}
.dot-dark {
  background-color: #000000;
}
.dot-light.active {
  /* background-color: #000000; */
  background-color: transparent;
  border: 1px solid #ffffff;
}

.dot-dark.active {
  /* background-color: #ffffff; */
  background-color: transparent;

  border: 1px solid #000000;
}

.sections-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.cus-ani {
  animation: slideIn 0.3s ease-out;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translate(20%, -3px);
  }
  100% {
    opacity: 1;
    transform: translate(0%, -3px);
  }
}
